<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="Internship" transaction-type="RESOURCE_LOCAL">

        <class>com.company.medicalrecord.entity.Description</class>
        <class>com.company.medicalrecord.entity.Diagnosis</class>
        <class>com.company.medicalrecord.entity.TreatmentPlan</class>
        <class>com.company.medicalrecord.entity.Medication</class>
        <class>com.company.medicalrecord.entity.CreationInfo</class>
        <class>com.company.medicalrecord.entity.AnalysisIndicator</class>
    </persistence-unit>
</persistence>
